<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mapper_v1.Properties.Comm" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Mapper_v1.Properties.MapControl" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Mapper_v1.Properties.Map" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mapper_v1.Properties.Comm>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ConnectionType" serializeAs="String">
                <value>Serial</value>
            </setting>
            <setting name="Devices" serializeAs="String">
                <value />
            </setting>
        </Mapper_v1.Properties.Comm>
        <Mapper_v1.Properties.MapControl>
            <setting name="BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Rotation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Viewport" serializeAs="String">
                <value />
            </setting>
            <setting name="BtnTrackingState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BtnHeadingState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataDisplayState" serializeAs="String">
                <value>True</value>
            </setting>
        </Mapper_v1.Properties.MapControl>
        <Mapper_v1.Properties.Map>
            <setting name="Projection" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectionList" serializeAs="String">
                <value />
            </setting>
            <setting name="Layers" serializeAs="String">
                <value />
            </setting>
            <setting name="BoatShape" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DegreeFormat" serializeAs="String">
                <value />
            </setting>
        </Mapper_v1.Properties.Map>
    </userSettings>
</configuration>