<?xml version="1.0"?>
<simplDeployPackagerConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <buildConfig />
  <projectFile>C:\Users\Tal\source\repos\Mapper v1\Mapper_v1.csproj</projectFile>
  <product>Mapper_v1</product>
  <publisher>Marteam LTD</publisher>
  <version>1.0.0.0</version>
  <entryPoint>Mapper_v1.exe</entryPoint>
  <quietMayor>false</quietMayor>
  <inAppUpdate>false</inAppUpdate>
  <StartupArgumentsEnabled>false</StartupArgumentsEnabled>
  <shipPdb>false</shipPdb>
  <signPackageEnabled>false</signPackageEnabled>
  <certificatePath />
  <savePassword>false</savePassword>
  <timeStampServerUrl />
  <customUninstallProcedureEnabled>false</customUninstallProcedureEnabled>
  <uninstallArgs />
  <sdkStyleProject>true</sdkStyleProject>
  <sdkStyleProjectProperties>
    <folderPublishProfileName>FolderProfile</folderPublishProfileName>
  </sdkStyleProjectProperties>
  <deploymentTargets>
    <rootUrl>*</rootUrl>
    <destinationFolder>\\192.168.1.200\Work Files\Software\RNav</destinationFolder>
    <useDefaultDestinationFolder>false</useDefaultDestinationFolder>
    <isActivated>true</isActivated>
  </deploymentTargets>
</simplDeployPackagerConfig>